.cart-item-header {
    display: flex;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #333;

}

.column1 {
    width: 550px;
    font-size: 24px;
}

.column2 {
    padding-left: 40px;
    width: 250px;
    font-size: 24px;    
}

.column3 {
    width: 350px;
    font-size: 24px;
    padding-right: 15px;
}

.column4 {
    width: 350px;
    font-size: 24px;
}
