.no-line {
    text-decoration: none;
    color: black;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.best-sellers {
    position: relative;
}

    .best-sellers h2 {
        padding-top: 25px;
        text-align: center;
    }

    .best-sellers:hover {
        border-color: #ff9519; /* Оранжевая граница при наведении */
    }

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    width: calc(33.33% - 20px); /* Ширина для вывода по 3 элемента в строку с отступами */
    margin: 0 10px 20px 0; /* Отступы между товарами */
    box-sizing: border-box;
    border: 1px solid #ddd; /* Серая граница толщиной в миллиметр */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Тень снизу и слева */
    border-radius: 8px; /* Скругление углов восемь градусов */
    padding: 10px; /* Отступ для всех сторон */
}


    .product-item img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    .product-item:hover {
        border-color: #ff9519; /* Оранжевая граница при наведении */
    }

.product-details {
    margin-top: 10px;
}

    .product-details h3 {
        margin-bottom: 10px;
    }

    .product-details span {
        margin-right: 10px;
    }

    .cart-button:hover {
        background-color: #ff9519; /* Оранжевый цвет при наведении */
        color: #fff;
    }

.counter-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.counter-button {
    background-color: #ffad4d; /* Оранжевый цвет */
    border: 1px solid #ffad4d;
    color: #fff;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px; /* Скругление углов восемь градусов */
    width: 30px; /* Задаем ширину кнопки */
    height: 30px; /* Задаем высоту кнопки */
    font-size: 16px; /* Размер текста */
}

    .counter-button:hover {
        background-color: #ff9519; /* Оранжевый цвет при наведении */
        color: #fff;
    }

.cart-controls {
    display: flex;
    align-items: center;
}

    .cart-controls button {
        background-color: #ffad4d;
        border: 1px solid #ffad4d;
        color: #fff;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 8px; /* Скругление углов восемь градусов */
        width: 40px; /* Задаем ширину кнопки */
        height: 40px; /* Задаем высоту кнопки */
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .cart-controls button:hover {
            background-color: #ff9519; /* Оранжевый цвет кнопки при наведении */
            color: #fff;
        }

    .cart-controls .cart-button {
        margin-left: 10px; /* Отступ между кнопкой корзины и счетчиком */
    }

    .cart-controls input {
        margin: 5px;
        padding: 8px;
        width: 40px;
        text-align: center;
        border: 1px solid #ddd; /* Серая граница для поля ввода */
        border-radius: 8px; /* Скругление углов восемь градусов */
        font-size: 16px; /* Размер текста */
    }

    .cart-controls .cart-button {
        background-color: #fff; /* Белый фон */
        border: 1px solid #ffad4d; /* Оранжевая граница */
        color: #ffad4d; /* Оранжевый цвет текста */
        margin-left: 150px;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 8px; /* Скругление углов восемь градусов */
        width: 125px; /* Задаем ширину кнопки */
        height: 40px; /* Задаем высоту кнопки */
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .cart-controls .cart-button:hover {
            background-color: #ffad4d; /* Оранжевый фон при наведении */
            color: #fff; /* Белый цвет текста при наведении */
        }