.main-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.base {
    display: flex;
}

.left-section {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.right-section {
    flex: 1;
    width: 70%;
}