.menu-section {
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 20px;
}

.menu-buttons {
    display: flex;
    height: 100%;
}

    .menu-buttons button {
        background-color: #FFAD4D;
        border: none;
        padding: 20px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .menu-buttons button:hover {
        background-color: #FF9519;
        color: #ffffff;
    }

        .menu-buttons button:first-child {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

.search-menu {
    display: flex;
    align-items: center;
    border-radius: 0 15px 15px 0;
}

    .search-menu input {
        padding: 20px 70px;
        border: none;
        outline: none;
    }

    .search-menu button {
        background-color: #FFAD4D;
        border: none;
        padding: 20px;
        cursor: pointer;
        border-radius: 0 15px 15px 0;
        transition: background-color 0.3s, color 0.3s;
    }

        .search-menu button:hover {
            background-color: #FF9519;
            color: #ffffff;
        }

/* Добавляем стили для сообщения */
.search-empty-message {
    color: #FFAD4D;
    font-size: 16px;
    margin-top: 10px;
}

/* Стили для результатов поиска */
.search-results {
    margin-top: 20px;
}

    .search-results h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .search-results ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .search-results li {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
